<div class="watchlist">
    <h1>{{error | async}}</h1>
    <div class="recently-container">
        <div class="block">
            <h1>Recenty watched Movies</h1>
            <app-decoration></app-decoration>
        </div>
    
        <div class="container">
            <div 
                class="card watchlist-card watched" 
                *ngFor="let movie of watchedMovies | async" 
                (click)="onNavigate(movie)"
                >
                <img src="https://image.tmdb.org/t/p/original/{{movie['backdrop_path']}}" alt="">
    
                <div class="bg-filter"></div>

                <h1>{{movie['title'] | cutLengthPipe}}</h1>

                <div class="delete icon-btn" (click)="onRemoveWatched(movie.id)">
                    <i class="fa-regular fa-trash-can"></i>
                </div>
            </div>
    
        </div>

        <div class="card noItem" *ngIf="(watchedMovies | async)?.length === 0">
            <div class="center">
                <i class="fa-regular fa-trash-can"></i>
                <h4>No movie yet</h4>
            </div>
        </div>
    </div>
    
    
    <div class="favorite-container">
        <div class="block">
            <h1>Favorites</h1>
            <app-decoration></app-decoration>
        </div>

        <div class="container">
            <div class="card watchlist-card favorite" *ngFor="let movie of favoriteMovies | async"  (click)="onNavigate(movie)">
                <img src="https://image.tmdb.org/t/p/original/{{movie['backdrop_path']}}" alt="">
    
                <div class="bg-filter"></div>

                <h1>{{movie['title']}}</h1>

                <div 
                    class="delete icon-btn" 
                    [ngClass]="movie['favorite'] ? 'favoriteActive' : '' "
                    (click)="onRemoveFavorite(movie['id'])"
                >
                    <i class="fa-regular fa-heart btn"  ></i>
                </div>
            </div>

        </div>

        <div class="card noItem" *ngIf="(favoriteMovies | async)?.length === 0 ">
            <div class="center">
                <i class="fa-regular fa-heart btn" ></i>
                <h4>No movies yet</h4>
            </div>
        </div>
    </div>
</div>