.watchlist {
    margin: 0 30px;

    .watchlist-card {
        width: 285px;
        height: 12em;
    }

    .delete {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 15px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0 30px; 
        align-items: center;
    }

    .watched {
        .bg-filter {
            background: rgb(0,212,255);
            background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(0,212,255,0.9360119047619048) 36%, rgba(0,212,255,0.7595413165266106) 55%, rgba(0,212,255,0) 100%);
        }
    }
}

.noItem {
    position: relative;
    background: #161616;
    height: 12em;
    cursor: default;
    text-align: center;

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.favorite {
    .bg-filter {
        background: rgb(255,44,44);
        background: linear-gradient(0deg, rgba(255,44,44,1) 0%, rgba(255,0,0,0.8519782913165266) 27%, rgba(255,0,0,0.6110819327731092) 43%, rgba(255,0,0,0.40379901960784315) 58%, rgba(255,0,0,0) 100%);
    }
}

.block {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
}

h1 {
    margin-bottom: 0px !important;
}

@media all and (max-width: 900px) {
    h1 {
        font-size: 10px ;
    }

    .watchlist-card {
        width: 105px !important;
        height: 6em  !important;
    }

    .container {
        gap:  0 7px !important;
    }
}