<div class="header">
    <div class="left-side">
        <div class="arrows">
            <i class="fa-solid fa-chevron-left" (click)="onNavigateBack()"></i>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="search">
            <input type="text" placeholder="Search movie..." (keyup.enter)="onSearch(input.value)" #input>

            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="right-side">
        <a (click)="onNavigateUser()"><i class="fa-solid fa-user"></i></a>
        <div class="bar" class="bar" (click)="onToggleSideBar()">
            <i class="fa-solid fa-bars bar" style="color: #ffffff;" ></i>
        </div>
    </div>
</div>