
@mixin dflex($gap, $jusContent) {
    display: flex;
    align-items: center;
    gap: $gap;
    justify-content: $jusContent;
}

.header {
    padding: 30px;
    @include dflex(0, space-between);

    .left-side {
        @include dflex(45px, none);

        .arrows {
            @include dflex(25px, none);
            cursor: pointer;

            .arrowRight{
                color: gray;
            }
         }


        .search {
            position: relative;
            width: fit-content;
            height: fit-content;

            input {
                border: 1px solid #cdcdcd4a;
                padding: 10px 15px 10px 40px;
                width: 244px;
                border-radius: 25px;
                background: inherit;
                color: white;
                outline: none;
                font-family: inherit;
            }

            i {
                position: absolute;
                left: 20px;
                top: 15px;
                color: #cdcdcd4a;
            }

        }
        
       

        
    }

    .right-side {
        i {
            font-size: 25px;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 22px;
            }
        }
    }

    
}