<div class="header">
    <div class="left-side">
        <div class="arrows">
            <i class="fa-solid fa-chevron-left" (click)="onNavigateBack()"></i>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="search">
            <input type="text" placeholder="Search movie...">

            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="right-side">
        <i class="fa-regular fa-comment-dots fa-flip-horizontal"></i>
        <i class="fa-regular fa-bell"></i>
        <a [routerLink]="['login']"><i class="fa-solid fa-user"></i></a>
    </div>
</div>