<div class="top-info">
    <ng-content></ng-content>
    
    <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" alt="" class="background">

   <div class="top-info-container">
    <div class="poster-block">
        <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="poster">
    </div>

    <div class="info-container">
        <div class="info">
            <span class="infoName">Name:</span>
            <h1>{{movie.title}}</h1>
        </div>

        <div class="info">
            <span class="infoName">About:</span>
            <p class="about">{{movie.overview}}</p>
        </div>

        <div class="info">
            <span class="infoName">Genres:</span>
            <span class="genre-tag" *ngFor="let genre of movie.genres">{{genre.name}}</span>
        </div>

        <div class="bottom">
            <div class="info">
                <span class="infoName">Language:</span>
                <span class="country"></span>
                <span class="countryName">{{movie.original_language | uppercase}}</span>
            </div>
    
            <div class="info">
                <span class="infoName">Status:</span>
                <span class="status">{{movie.status}}</span>
            </div>
        </div>
    </div>
   </div>
</div>