.top  {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
}

.parties {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    
    .party-card {
        background: #161616;
        width: 255px;
        height: 124px;
        padding: 20px;
        border-radius: 15px;
        cursor: pointer;
        transition: box-shadow 0.3s;

        h4 {
            font-size: 17px;
            font-weight: 500;
        }
    
        span {
            color: gray;
            font-weight: 500;
        }

        &:hover {
            box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.25);
        }
    
        .top-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
    
            img {
                width: 70px;
                height: 50px;
                border-radius: 10px;
                object-fit: cover;
            }
    
            .friends {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: white;
            }
        }
    
        
    }
}



@media all and (max-width: 900px) {
    .parties {
        justify-content: space-evenly;
    }
    .party-card {
        width: 114px !important;
        height: 74px !important;
    }

    .top-block {
        img {
            width: 45px !important;
            height: 29px !important;
            border-radius: 5px !important;
        }
    }

    h4 {
        font-size: 12px !important;
    }
}