<div class="popular">
    <h1>Popular</h1>

    <div class="grid">
        <div class="card" *ngFor="let movie of movies">
            <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">

            <div class="bg-filter"></div>
    
            <h1>{{movie.title}}</h1>
    
        </div>

        <div class="glide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                <li class="glide__slide">
                    <div class="card grid-item" >
                        <img src="../assets/spid.jpg" alt="">
                
                        <div class="bg-filter"></div>
                        <h1>Spider man</h1>
                
                    </div> 
                </li>
                <li class="glide__slide"><div class="card grid-item" >
                    <img src="../assets/spid.jpg" alt="">
            
                    <div class="bg-filter"></div>
                    <h1>Spider man</h1>
            
                </div> </li>
                <li class="glide__slide"><div class="card grid-item" >
                    <img src="../assets/spid.jpg" alt="">
            
                    <div class="bg-filter"></div>
                    <h1>Spider man</h1>
            
                </div> </li>

                <li class="glide__slide"><div class="card grid-item" >
                    <img src="../assets/spid.jpg" alt="">
            
                    <div class="bg-filter"></div>
                    <h1>Spider man</h1>
            
                </div> </li>

                <li class="glide__slide"><div class="card grid-item" >
                    <img src="../assets/spid.jpg" alt="">
            
                    <div class="bg-filter"></div>
                    <h1>Spider man</h1>
            
                </div> </li>

                <li class="glide__slide"><div class="card grid-item" >
                    <img src="../assets/spid.jpg" alt="">
            
                    <div class="bg-filter"></div>
                    <h1>Spider man</h1>
            
                </div> </li>
              </ul>
            </div>

            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
          </div>
        

        <!-- Test -->

        <!-- <div class="card grid-item" >
            <img src="../assets/spid.jpg" alt="">
    
            <div class="bg-filter"></div>
            <h1>Spider man</h1>
    
        </div> -->

    

        <!--  Test end -->
    </div>
   
</div>