h1 {
    margin: 15px 0;
}

.top  {
    display: flex;
    align-items: center;
    gap: 30px;
}




.popular {
    margin-bottom: 30px;

    .grid {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       gap: 15px 30px;     
    }

}

.btnBlock {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
    
.btnLoad {
    border: none;
    background: #AC2419;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    
}

.spinner {
    position: absolute;
    bottom: 0;
}

@media all and (max-width: 900px) {
    .grid {
        gap: 0 !important;
        grid-template-columns: 1fr 1fr 1fr !important;
        justify-items: center !important;
    }
}


@media all and (max-width: 740px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .btnLoad {
        padding: 11px 21px;
        border-radius: 12px;
    }
}