<div class="top-info">
    <img src="../assets/marvel.jpg" alt="" class="background">

   <div class="top-info-container">
    <div class="poster-block">
        <img src="../assets/spid.jpg" alt="" class="poster">
    </div>

    <div class="info-container">
        <div class="info">
            <span class="infoName">Name:</span>
            <h1>Spider-man No way home</h1>
        </div>

        <div class="info">
            <span class="infoName">About:</span>
            <p class="about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus vel culpa, sint voluptate provident.</p>
        </div>

        <div class="info">
            <span class="infoName">Genres:</span>
            <span class="genre-tag">Action</span>
            <span class="genre-tag">Fantasy</span>
            <span class="genre-tag">Reality</span>
        </div>

        <div class="bottom">
            <div class="info">
                <span class="infoName">Language:</span>
                <span class="country"></span>
                <span class="countryName">En</span>
            </div>
    
            <div class="info">
                <span class="infoName">Status:</span>
                <span class="status">Released</span>
            </div>
        </div>
    </div>
   </div>
</div>

<div class="bottom-info">
    <div class="info-container">
        <span class="infoName">Runtime:</span>
        <div class="info-block">
            <span class="info">144</span>
            <span class="bottom">minutes</span>
        </div>
    </div>

    <div class="info-container">
        <span class="infoName">Budget:</span>
        <div class="info-block">
            <span class="info">$100M</span>
        </div>
    </div>

    <div class="info-container">
        <span class="infoName">Vote:</span>
        <div class="info-block">
            <span class="info">6.9</span>
        </div>
        <span class="bottom">1000 (votes)</span>

    </div>
</div>