<app-movie-info-card [movie]="movie">
    <div 
        class="icon-btn" 
        [ngClass]="isFavorite ? 'favoriteActive' : '' " 
        (click)="onClickFavoriteMovie()"
    >
        <i class="fa-regular fa-heart btn" ></i>
    </div>
</app-movie-info-card>

<div class="bottom-info">
    <div class="info-container">
        <span class="infoName">Runtime:</span>
        <div class="info-block">
            <span class="info">{{movie.runtime}}</span>
            <span class="bottom">minutes</span>
        </div>
    </div>

    <div class="info-container">
        <span class="infoName">Budget:</span>
        <div class="info-block">
            <span class="info">${{movie.budget | countBudget}}{{movie.budget | countBudgetLength}}</span>
        </div>
    </div>

    <div class="info-container">
        <span class="infoName">Vote:</span>
        <div class="info-block">
            <span class="info">{{movie.vote_average}}</span>
        </div>
        <span class="bottom">{{movie.vote_count}} (votes)</span>

    </div>
</div>

<div class="companies-container">
    <h1>Companies:</h1>

    <div class="companies">
        <div class="companie" *ngFor="let companie of movie.production_companies" >
            <img 
                src="http://image.tmdb.org/t/p/w500/{{companie.logo_path}}" 
                [alt]="companie.name"
                *ngIf="companie.logo_path !== null"
            class="companieImg"
            >
        </div>
        
    </div>
</div>