$border20: 3em;

%posAbsol {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;

}

p {
    color: white;
    font-size: 50px;
}



.big-img-block {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30em;
    border-radius: $border20;
    padding: 20px 40px;
    box-sizing: border-box;
    

    .bg-img {
        @extend %posAbsol;
        background: rgb(0,0,0);
    }

    .bg-filter {
        @extend %posAbsol;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(158deg, rgba(0, 0, 0, 0.8519782913) 0%, rgba(0, 0, 0, 0.543855042) 36%, rgba(0, 0, 0, 0.2693452381) 55%, rgba(0, 0, 0, 0) 100%) !important;
    }

    .info {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        

        h1 {
            font-size: 50px;
            font-weight: 500;
            max-width: 560px;

            span {
                font-weight: 600;
            }
        }

    }

    button {
        border: none;
        padding: 20px 30px;
        cursor: pointer;
        border-radius: 17px;
        background: #AC2419;
        color: white;
    }

    .rating {
        display: flex;
        align-items: center;
        margin-top: 10px;

        img {
            width: 30px;
        }

        span:not(:last-child) {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-right: 15px;
        }
    }
}

@media all and (max-width: 900px) {

    .info {
        justify-content: flex-start !important;
        gap: 12px;

        // .main-info {
        //     width: 50%;
        // }

        img {
            width: 20px !important;
        }
    }

    
    .bg-filter  {
        background: linear-gradient(158deg, rgba(0,0,0,0.8519782913165266) 0%, rgba(0,0,0,0.5438550420168067) 36%, rgba(0,0,0,0.26934523809523814) 55%, rgba(0,0,0,0) 100%) !important;
    }

   .big-img-block {
    height: 17em; 

    h1 {
        font-size: 15px !important;
    }

    button {
       padding: 5px 8px;
        font-size: 8px;
        border-radius: 1em;
    }
   }
}