<div class="container">
  <div class="sidebar" [ngClass]="isShowSidebar ? 'sidebarShow' : '' ">
   <div class="sidebar-top">
    <h1><a [routerLink]="['/']">Lernard<span>Movies</span></a></h1>

    <div class="feed">
      <span class="info">News Feed</span>

      <ul>
        <li><a 
          [routerLink]="['']" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}"
          (click)="onToggleSidebar()"
          >
          <i class="fa-regular fa-compass"></i> Browse</a>
        </li>
        
        <li><a 
          [routerLink]="['watchlist']" 
          routerLinkActive="active" 
          (click)="onToggleSidebar()"
          >
          <i class="fa-regular fa-heart"></i> Watchlist</a></li>

        <li><a 
          [routerLink]="['comingsoon']" 
          routerLinkActive="active" 
          (click)="onToggleSidebar()"
          >
          <i class="fa-regular fa-calendar-days"></i> Coming soon</a></li>
        <li><a 
          [routerLink]="['search', 'the']" 
          [queryParams]="{ page: currentPage }" 
          routerLinkActive="active" 
          (click)="onToggleSidebar()"
          >
          <i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
      </ul>    
    </div>
   </div>


    <div class="logout" (click)="onLogout()" *ngIf="isLogedIn">
      <span><i class="fa-solid fa-right-from-bracket" ></i> Logout</span>
    </div>

    <div class="close-icon" *ngIf="isShowSidebar" (click)="onToggleSidebar()">
       <i class="fa-solid fa-xmark" ></i>
    </div>
  </div>

  <div class="content">
    
    <app-header [isSidebarOpen]="isShowSidebar" (sidebarToggled)="onToggleSidebar()"></app-header>

    <router-outlet></router-outlet>

  </div>
  
</div>