<div class="container">
    <div class="main">
        <h1 class="heading">Accaunt Information</h1>
        
        <div class="info-container">
            <div class="img-block">
                <img src="../assets/spid.jpg" alt=""  class="avatar">
                <div class="filter"><i class="fa-solid fa-camera"></i></div>
            </div>

            <div class="info">
                <h1>Abdugafor Gafarov <i class="fa-solid fa-pen edit" (click)="onChangeEditMode()"></i></h1>
                <span>email address: <span class="email">accfor@gmail.com</span></span>
            </div>
        </div>
    </div>
   

   





