<div class="container">
    <div class="main">
        <h1 class="heading">Accaunt Information</h1>
        
        <div class="info-container">
            <div class="img-block">
                <img src="../assets/spid.jpg" alt=""  class="avatar">
                
                <div *ngIf="editMode">
                    <input type="file" value="">
                    <i class="fa-solid fa-camera"></i>
                </div>
            </div>

            <div class="info">
                    <div *ngIf="!editMode">
                        <h1>Abdugafor Gafarov <i class="fa-solid fa-pen edit" (click)="onActivateEditMode()"></i></h1>
                    </div>
                    <input type="text" *ngIf="editMode" class="userInput">
                    <span>email address: <span class="email">accfor@gmail.com</span></span>

                    <button type="button" (click)="onSubmit()" class="btn" *ngIf="editMode">Save</button>
            </div>
        </div>
    </div>

   

   





